body {
    font-family: 'Roboto', sans-serif;
    margin: none;
}

/* Main Layout */
.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 10fr;
    /* gap: 5px; */
    height: 100vh;
    padding: none;
    margin: none;
}

.header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: rgb(211, 220, 229);
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: #fed7aa;
}

.main {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: #fff7ed;
}

/* Sidebar Layout */

.sidebarGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr 2fr;
    height: 100vh;
}

.sidebarLogo {
    background-color: #fed7aa;
    display: grid;
    grid-template-columns: 1fr;
}

.logoFlex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
}

.fleximage {
    display: flex;
    height: 50%;
    width: auto;
    padding: 5px;
}

.flexheader {
    display: flex;
    font-size: 1.5rem;
    padding: 5px;
    color: black;
}

.sidebarLinks {
    background-color: #fed7aa;
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    
}

.sideFlex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 25%;
}

.sideFlex img {
    height: 25px;
    padding-right: 5px;
    padding-left: 5px;
}

.sidebarSettings {
    background-color: #fed7aa;
    display: grid;
    grid-template-columns: 1fr;
    align-items: end;
}

.settingsGrid {
    display: grid;
    grid-template-columns: 1fr;
}

.settingsGrid img {
    height: 25px;
    padding-right: 5px;
    padding-left: 5px;
}

.settingsFlex {
    display: flex;
    align-items: center;
}

/* Header Layout */

.headerGrid {
    display: grid;
    grid-template-columns: 1fr 6fr 2fr;
    grid-template-rows: 1fr;
    height: 100%;
}

.headerSearch {
    grid-column: 1 / 4;
    grid-row: 1;
    background-color: #ffedd5;
}

.searchGrid {
    display: grid;
    grid-template-columns: 1fr 10fr 3fr;
    align-items: center;
}

.searchIcon {
    display: flex;
    justify-content: center;
}

.searchGrid img {
    height: 30px;
}

.searchFlex {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px;
}

.profilePicture {
    background: #fb923c;
    border-radius: 50%;
    padding: 5px;
}

.headerButton {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    background-color: #ffedd5;
}

.socials img {
    height: 50px;
    padding: 5px;
    margin: 10px;
}

.socials {
    display: flex;
    align-items: center;
}

.socials p {
    color: #fed7aa;
}

.buttonsGrid {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.input {
    border-radius: 8px;
}

.hButton {
    background-color: #fdba74;
    border-style: none;
    height: 40px;
    width: 100px;
    border-radius: 8px;
}

/* Main Layout */

.mainGrid {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100%;
}

.mainProject {
    grid-column: 1;
    grid-row: 1 / 3;
    background-color: #e2e8f0;
}

.mainAnnouncement {
    grid-column: 2;
    grid-row: 1;
    background-color: #e2e8f0;
}

.mainTrend {
    grid-column: 2;
    grid-row: 2;
    background-color: #e2e8f0;
}

/* Project Layout */

.projectGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px;
    padding: 5px;
    height: 50vh;
}

.project {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.projectButtons {
    display: flex;
    justify-content: end;
    padding-right: 5px;
}

.projectButtons img {
    height: 25px;
}

/* Announcement Layout */

.announcementGrid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2px;
    padding: 5px;
    height: 100%;
}

.announcement {
    background-color: #fff7ed;
    padding: 5px;
    border-radius: 8px;
}

.announcement p {
    font-style: italic;
}

/* Trending Layout */

.trendGrid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 2px;
    padding: 0px 5px 0px 5px;
}

.trendItem {
    grid-column: 1 / 3;
    background-color: #fff7ed;
    display: grid;
    grid-template-columns: 1fr 4fr;
    justify-content: start;
    align-items: center;
    border-radius: 8px;
}

.trendItem img {
    height: 50px;
    padding-left: 5px;
    padding-right: 5px;
}

.imageTag {
    display: flex;
}

.handle {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.tester {
    display: flex;
    justify-content: end;
}